<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="logo">
      <a href="/photos">
        <img src="/logo5.png" alt="Logo" class="logoImg" />
        <img src="/logo4.png" alt="Logo" class="logoImg" />
      </a>
    </div>
    <div class="parent">
      <div class="box">
        <h1>Welcome back!</h1>
        <br /><br />
        <% if (message) { %>
        <p id="message"><%= message %></p>
        <br /><br />
        <% } %>
        <form action="login" method="POST">
          <label for="username">Username</label>
          <input type="text" id="username" name="name" /><br /><br /><br />
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
          /><br /><br /><br /><br />
          <input type="submit" id="submit" value="Log in" />
          <p>Or <a href="register">Register</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
